<div>
    <form [formGroup]="form">
        <div class="row">
            <div class="col text-center">
                <h1>{{title}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">Titulo</label>
                    <input type="text" formControlName="Titulo" class="form-control">
                    <div class="validationErrorRed">
                        <ng-container *ngFor="let validation of validationFormMessage.Titulo">
                            <div *ngIf="isValid('Titulo', validation.type)">
                                <small>{{validation.message}}</small>
                            </div>
                        </ng-container>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">Año</label>
                    <input type="number" formControlName="Agno" class="form-control">
                    <div class="validationErrorRed">
                        <ng-container *ngFor="let validation of validationFormMessage.Agno">
                            <div *ngIf="isValid('Agno', validation.type)">
                                <small>{{validation.message}}</small>
                            </div>
                        </ng-container>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">Genero</label>
                    <input type="text" formControlName="Genero" class="form-control">
                    <div class="validationErrorRed">
                        <ng-container *ngFor="let validation of validationFormMessage.Genero">
                            <div *ngIf="isValid('Genero', validation.type)">
                                <small>{{validation.message}}</small>
                            </div>
                        </ng-container>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">Páginas</label>
                    <input type="number" formControlName="NumPaginas" class="form-control">
                    <div class="validationErrorRed">
                        <ng-container *ngFor="let validation of validationFormMessage.NumPaginas">
                            <div *ngIf="isValid('NumPaginas', validation.type)">
                                <small>{{validation.message}}</small>
                            </div>
                        </ng-container>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label">Editorial</label>
                    <select formControlName="idEditorial" class="form-control">
                        <ng-container *ngFor="let editorial of editoriales">
                            <option value='{{ editorial.idEditorial }}'>{{ editorial.nombreEditorial }}</option>
                        </ng-container>
                    </select>
                    <div class="validationErrorRed">
                        <ng-container *ngFor="let validation of validationFormMessage.idEditorial">
                            <div *ngIf="isValid('idEditorial', validation.type)">
                                <small>{{validation.message}}</small>
                            </div>
                        </ng-container>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label">Autor</label>                    
                    <select formControlName="idAutor" class="form-control">
                        <ng-container *ngFor="let autor of autores">
                            <option value='{{ autor.idAutor }}'>{{autor.nombreAutor}}</option>                            
                        </ng-container>                        
                    </select>
                    <div class="validationErrorRed">
                        <ng-container *ngFor="let validation of validationFormMessage.idAutor">
                            <div *ngIf="isValid('idAutor', validation.type)">
                                <small>{{validation.message}}</small>
                            </div>
                        </ng-container>
                    </div>
                </div>
            
            </div>
        </div>

        <div class="card-footer border-0 text-right">
            <a [routerLink]="['/libros']" class="btn btn-warning shadow-none mr-2">
                Regresar
            </a>
            <button type="button" (click)="saveForm()" class="btn shadow-none"
                [ngClass]="{'btn-success': id, 'btn-primary': !id}" [disabled]="form.invalid">
                {{btnName}}
            </button>
        </div>
    </form>
</div>
